:host table {
    border-collapse: collapse;
    border-top-color: transparent;

    & > tbody {
        outline: 0px solid transparent;
    }

    & > tbody > tr:first-child {
        border-top-color: transparent;
        
        & > th {
            border-top-color: transparent;
        }
    }
}

:host :is(tr,th,td) {
    border:1px solid #c0c0c0;
 }

:host tr {
    height: 0.45cm;
    line-height: 0.45cm;
}


:host :is(td, th):not([contenteditable]) {
    user-select: none;
}
/*
:host td[contenteditable] {
    user-select: text;
}*/

:host :is(td, th) {
    color: black;
    width: 2.26cm;
    height: 0.45cm;
    font-size: 10pt;
    box-sizing: border-box;
    font-family: 'Liberation Sans';
}

:host tr > th:first-child {
    width: calc( 2.26cm / 2.5) ;
}

:host {
    display: inline-flex;
    flex-direction: column;
}

:host div.toolbar {
    background-color: #cecece;
    display: flex;
    gap: 5px;
    padding: 4px;

    & > *:not(:first-child) {
        flex: 1 1 0;
    }
    & > *:first-child {
        width: calc( 1.5 * 2.26cm );
    }
}

:host th {
    background-color: #cecece;
    border-color: #8a8a8a;
    font-weight: normal;

    &.highlight {
        background-color: #398ee7;
        color: white;
    }
}

:host td {
    background-color: white;
    white-space: pre;

    &:is([data-type="number"],[data-type="date"], [data-type="boolean"]) {
        text-align: right;
    }

    &[contenteditable] {
        outline: 0px solid transparent;
    }

    &.cursor {
        position: relative;

        &::after {
            pointer-events: none;

            position: absolute;
            display: block;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: 2px solid #398ee7;
            content: "";
            box-sizing: border-box;
        }
    }

    &.highlight {
        background-color: #cde3f9;
    }

    /** style **/
    &.italic {
        font-style: italic;
    }
    &.bold {
        font-weight: bold;
    }
    &.align-left {
        text-align: left;
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
}

:host {
    position: relative;
}

:host .range_highlight {
    position: absolute;
    padding: 0;
    box-sizing: border-box;

    background: none;
    border: 2px solid red;

    border-color: var(--highlight_color);
}

:host .formula_highlight {
    color: var(--highlight_color);
}

:host .highlight_0 {
    --highlight_color: #fa0c0c;
}

:host .highlight_1 {
    --highlight_color: #fa0cfa;
}

:host .highlight_2 {
    --highlight_color: #0c840c;
}

:host .highlight_3 {
    --highlight_color: #010180;
}

:host .highlight_4 {
    --highlight_color: #871717;
}

:host .highlight_5 {
    --highlight_color: #871787;
}

:host .highlight_6 {
    --highlight_color: #84840c;
}

:host .highlight_7 {
    --highlight_color: #0c0cfa;
}


.copy_highlight {
    position: absolute;
    border: 1px dashed black;
    background: none;
    pointer-events: none;
    padding: 0;
    box-sizing: border-box;
}

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
	color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
	color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
	color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
	color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
	color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
	color: #8959a8;
}

.hljs {
	display: block;
	overflow-x: auto;
	color: #4d4d4c;
	padding: 0.5em;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}