@import "MWL@2026/components/page/theme/reset.css";

@import "MWL@2026/components/page/layout";
@import "MWL@2026/components/page/theme/table.css";

@import "MWL@2026/components/page/lastmodified";

@import "MWL@2026/components/page/menu";
@import "MWL@2026/components/page/color-switch/index.css";

@import "MWL@2026/components/page/theme/utilities.css";
@import "MWL@2026/components/page/blocks";

.terminal {
    border: 1px solid gray; border-radius: 5px; padding: 5px;
    & > pre {
        margin: 0;
    }
}