@import "MWL@2026/presentation/styles";
@import "MWL@2026/presentation/capabilities";

@import "MWL@2026/widgets/code/code-script";

.terminal {
    border: 1px solid gray; border-radius: 5px; padding: 5px;
    & > pre {
        margin: 0;
    }
}