[submodule "build/WebpackFramework"]
	path = build/WebpackFramework
	url = git@github.com:denis-migdal/Webpack-Framework.git
[submodule "libs/TPEngine"]
	path = old broken/TPEngine
	url = git@github.com:denis-migdal/TPEngine.git
[submodule "libs/WebSlides"]
	path = old broken/WebSlides
	url = git@github.com:denis-migdal/WebSlides.git
[submodule "libs/LISS3"]
	path = libs/LISS
	url = git@github.com:denis-migdal/LISS.git
