[submodule "build/WebpackFramework"]
	path = build/WebpackFramework
	url = git@github.com:denis-migdal/Webpack-Framework.git
[submodule "libs/legacy/TPEngine"]
	path = libs/legacy/TPEngine
	url = git@github.com:denis-migdal/TPEngine.git
[submodule "libs/legacy/WebSlides"]
	path = libs/legacy/WebSlides
	url = git@github.com:denis-migdal/WebSlides.git
[submodule "libs/legacy/LISS"]
	path = libs/legacy/LISS
	url = git@github.com:denis-migdal/LISS.git
[submodule "libs/MWL@2026"]
	path = libs/MWL@2026
	url = git@github.com:denis-migdal-WebLibs/MiscWebLib.git
[submodule "libs/TPEngine@2026"]
	path = libs/TPEngine@2026
	url = git@github.com:denis-migdal/TPEngine.git
[submodule "libs/WebSlides@2026"]
	path = libs/WebSlides@2026
	url = git@github.com:denis-migdal/WebSlides.git
