@import "../index.css";

@page {
    size: landscape;
}

body {
    margin-top:1.25em;
    margin-bottom: 0;
}

img[src$=".svg"] {
    padding:0px;
    width: 100%;
}

@media print {
    main {
        display   : block;
        box-sizing: border-box;
        width     :  297mm; /* A4 height */
    }
}