<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf8"/>
        <title>TPX - [name] ([short module])</title>
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="module" src="/templates/TPEngine@2026/index.js"></script>
        <link rel="stylesheet" href="/templates/TPEngine@2026/index.css"/>
    </head>
    <body>
        <main>
            <h1></h1>


        </main>
    </body>
</html>