<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf8"/>
        <title></title>
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link   href="/templates/slides@2026/index.css"  rel="stylesheet">
        <script  src="/templates/slides@2026/index.js"  type="module"></script>
    </head>
    <body>
        <main>


<frame-uca-title
    title   = "Title"
    subtitle= "Subtitle"
    author  = "Denis MIGDAL"
    mail    = "denis.migdal@uca.fr">
</frame-uca-title>
<frame-section name="">
    <frame-subsection name="">
        <frame-subsubsection name="">
            <frame-uca>
            </frame-uca>
        </frame-subsubsection>
    </frame-subsection>
</frame-section>
        </main>
    </body>
</html>