@import "@LISS/pages/skeleton/base";

.lastmodified {
    font-size: small;
    font-style: italic;
}

todo {
    display: block;

    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 4px;

    &::before {
        content: "[TODO] "
    }
}

p {
    text-align: justify;
}

img {
    max-width: 100%;

    &[src$=".svg"] {

        display: block;
        margin-left: auto;
        margin-right: auto;

        width:60%;
        background-color:white;
        border-radius:5px;
        padding:5px
    }
}

.terminal {
    border: 1px solid gray; border-radius: 5px; padding: 5px;
    & > pre {
        margin: 0;
    }
}

a[disabled] {
    color: gray;
    opacity: 0.5;
    font-style: italic;
    pointer-events: none;
}

[unredacted] {
    color: red;
}

.danger {
    border-left: 2px solid red;
    padding-left: 4px;

    &::before {
        color: red;
        content: "⚠ "
    }
}

.hint {
    border-left: 2px solid yellow;
    padding-left: 4px;

    &::before {
        content: "💡 "
    }
}

.info {
    border-left: 2px solid orange;
    padding-left: 4px;

    &::before {
        content: "📚 "
    }
}

.exo {

    border-left: 2px solid green;
    padding-left: 4px;

    font-style: italic;

    &::before {
        content: "🧩 ";
        font-style: normal;
    }

    & summary {
        margin-top: 5px;
    }
}