@import "@LISS/pages/skeleton/base";

.lastmodified {
    font-size: small;
    font-style: italic;
}

todo {
    display: block;

    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 4px;

    &::before {
        content: "[TODO] "
    }
}

p {
    text-align: justify;
}

img {
    max-width: 100%;

    &[src$=".svg"] {

        display: block;
        margin-left: auto;
        margin-right: auto;

        width:60%;
        background-color:white;
        border-radius:5px;
        padding:5px
    }
}

.terminal {
    border: 1px solid gray; border-radius: 5px; padding: 5px;
    & > pre {
        margin: 0;
    }
}

a[disabled] {
    color: gray;
    opacity: 0.5;
    font-style: italic;
    pointer-events: none;
}

[unredacted] {
    color: red;
}