@import "@LISS/pages/skeleton/base";

.lastmodified {
    font-size: small;
    font-style: italic;
}

img {
    max-width: 100%;

    &.svg {
        width:60%;
        background-color:white;
        border-radius:5px;
        padding:5px
    }
}

.terminal {
    border: 1px solid gray; border-radius: 5px; padding: 5px;
    & > pre {
        margin: 0;
    }
}