@import "@LISS/components/page/menu/index.css";
@import "@LISS/components/page/color-switch/index.css";
@import "@WebSlides/pages/skeleton/index.css";

@media (display-mode: fullscreen) {
    .menu_area, .color-scheme-gui-btn {
        display: none;
    }
}

@media screen and not (display-mode: fullscreen) {
    body:not(.overview) main {
        top : calc( 50% + 12px ) !important; /* 50% de 24px */
    }
}